@font-face {
    font-family: "Jura-Light";
    font-style: light;
    font-weight: 100;

    src: local("Jura"),
         url(../fonts/Jura-Light.woff2) 
         format("woff2");
    unicode-range: UTF-8;
  }@font-face {
    font-family: "Jura-Regular";
    font-style: light;
    font-weight: 100;
    src: local("Jura"),
         url(../fonts/Jura-Regular.woff2) 
         format("woff2");
    unicode-range: UTF-8;
  }@font-face {
    font-family: "Jura-Medium";
    font-style: light;
    font-weight: 500s;
    font-display: swap;
    src: local("Jura"),
         url(../fonts/Jura-Medium.woff2) 
         format("woff2");
    unicode-range: UTF-8;
  }@font-face {
    font-family: "Jura-SemiBold";
    font-style: light;
    font-weight: 600s;
    font-display: swap;
    src: local("Jura"),
         url(../fonts/Jura-SemiBold.woff2) 
         format("woff2");
    unicode-range: UTF-8;
  }@font-face {
    font-family: "Jura-Bold";
    font-style: light;
    font-weight: 700s;
    font-display: swap;
    src: local("Jura"),
         url(../fonts/Jura-Bold.woff2) 
         format("woff2");
    unicode-range: UTF-8;
  }
