body{
    margin: 0px;
    background-color: #FFE9E9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow-x: hidden;
}

#header{
    height: 120px;
    border-bottom: 3px solid #770000;
    color: #FFFFFF;
    vertical-align: middle;
    display: flex;
    justify-content:flex-end;
    background: linear-gradient(90deg, #8E0000 0%, #FFFFFF 51.56%, rgba(142, 0, 0, 0.911458) 100%);
}
#header-logo{
    margin: auto;
}
#header-logo img{
    display: block;
    height: 105px;
}
#nav-section{
    z-index: 3;
    display: flex;
    justify-content: center;
    font-family: 'Jura-Light';
    text-align: center;
    font-size: min(4vw,40px);
    color: #FFFFFF;
    position: sticky;
    top:0;
}

#nav-1{
    border-top: 6vw solid red;
	border-left: 80px solid transparent;
	width: 440px;
    text-align: center;
    opacity: 0.7;
}
#nav-1:hover{
    opacity: 1;
}
#nav-1 div{
    margin-top: -5vw;
}
#nav-2{
    background-color: #8E0000;
    height: 6vw;
	width: 440px;
    opacity: 0.7;
}
#nav-2:hover{
    opacity: 1;
}
#nav-2 div{
    margin-top: 1vw;
}
#nav-3{
    border-top: 6vw solid red;
	border-right: 80px solid transparent;
	width: 440px;
    opacity: 0.7;
}
#nav-3:hover{
    opacity: 1;
}
#nav-3 div{
    margin-top: -5vw;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #FFE9E9;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    display: grid;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
    margin-left: -64px;
    background: url('../Preloader.gif') no-repeat 50% 50%;
  }
  .preloader__image div{
    font-family: 'Jura-Light';
    text-align: center;
    margin-top: 150px;
    width: 200px;
    margin-left: -35px;
    font-size: min(4vw,40px);
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }